{% extends "main_library/base.html" %}
{% block content %}

<div class="row" style="background-color: #ECEBE8; font-family:Vontana">
    <div align="center">
    <h1> <b> Lista wszystkich książek </b> </h1>
    </div>
</div>

<div class="row" style = "backgroundcolor: #F9F8F7">
    <br><br>
    <div class = "col-md-2" align="right">
        <a href="/"> Wróć do strony głównej </a>
    </div>
    <br><br>

</div>
<div class="row" style = "backgroundcolor: #F9F8F7">
    <div class = "col-md-1"></div>
    <div class = "col-md-3" align = "left">

<!--        <ul>-->
<!--            {% for n in all_books %}-->
<!--            <li>{{ n }} </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
    </div>
</div>
{% endblock %}