{% extends "main_library/base.html" %}
{% block content %}

<div class="row" style="background-color: #ECEBE8; font-family:Vontana">
    <div align="center">
    <h1> <b> Lista wszystkich książek </b> </h1>
    </div>
</div>

<div class="row" style = "backgroundcolor: #F9F8F7">
    <br><br>
    <div class = "col-md-2" align="right">
        <a href="/"> Wróć do strony głównej </a>
    </div>
    <br><br>

</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <form method="get">
             {{ table_filter.form.as_p }}
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </form>
        <table class="table table-dark table-striped" >
            <thead>
              <tr>
                  <th>Tytuł</th>
                  <th>Autor</th>
                  <th>Gatunek</th>
                  <th>Rodzaj</th>
                  <th>Epoka</th>
                  <th>Ilość dostępnych książek</th>
                  <th> Wypozycz</th>
              </tr>
            </thead>
                {% for n in table_filter.qs %}
                <tr>
                    <td>{{ n.title }} </td>
                    <td> {{ n.author }}</td>
                    <td> {{ n.genre }} </td>
                    <td> {{ n.kind }} </td>
                    <td> {{ n.epoch }} </td>
                    <td> {{ n.quantity }} </td>
                    <td> <a href="{% url 'details' n.id %}"> Details </a> </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
