{% extends 'main_library/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<a href="/"> Wróć do strony głównej </a>
<!--Login-->
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Zaloguj</button>
    <button class="btn btn-primary" type="submit">Zarejestruj się</button>
  </form>
  <p class="text-center">Nie wierzę... ale jak nie masz jeszcze konta to ...<a href="/register">naduś tutaj</a>.</p>
</div>

{% endblock %}
