{% extends "main_library/base.html" %}
{% block content %}

<style>

    table {
  width: 100%;
  border: 1px solid #000;
  background-color: white;
}

td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

caption {
  padding: 0.3em;
}
th {
background-color: #ACACAD;
  width: 25%;
  text-align: left;
  vertical-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;

}

</style>

<h2>Udało Ci się zapisać na książkę {{ book.title }}</h2>
<p>W przypadku, gdy książka będzie dostępna otrzymasz powiadomienie w panelu użytkownika</p>
<a href="/index"> Wróć do przeglądania listy książęk</a><br>
<a href="/"> Wróć do strony głównej </a>


{% endblock %}