{% extends "main_library/base.html" %}
{% block content %}

<h1>Dzień dobry, {{ name }} </h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">

<table class="table table-dark table-striped" >
            <thead>
              <tr>
                  <th>Użytjownik</th>
                  <th>Książka</th>
                  <th>Autor</th>
                  <th>Data wypożyczenia</th>
                  <th>Planowana data zwrotu</th>
                  <th>Data zwrotu</th>
                  <th>Status</th>
                  <th>Action</th>

              </tr>
            </thead>
                {% for n in books %}
                <tr>
                    <td> {{ n.user_id }} </td>
                    <td> {{ n.book_id.title }} </td>
                    <td> {{ n.book_id.author }} </td>
                    <td> {{ n.check_out_date }} </td>
                    <td> {{ n.planned_date_of_return }} </td>
                    <td> {{ n.date_of_return }} </td>
                    <td> {{ n.status }} </td>
                    <td> <a href="{% url 'return_book' n.id %}"> Return </a> </td>
                </tr>
                {% endfor %}
        </table>

{% endblock %}

            </div>
</div>