{% extends "main_library/base.html" %}
{% block content %}
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert2 {
  padding: 20px;
  background-color: #43F436;
  color: white;
}

}
.closebtn:hover {
  color: black;
}
</style>

<h1>Dzień dobry, {{ name }}</h1> <a href='/books_not_avaible'> Lista książek na które jesteś zapisany/na </a><br>
{% if alert_marker == 'Y' %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Uwaga!</strong> Na liście wypożyczeń znjdują się pozycje, którym upłynął termin zwrotu!!!
</div>;
{% else %}
  <div class="alert2">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Sukces!</strong>Obecnie nie posiadasz książek, których termin oddania upłynał!
</div>;

{% endif %}


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">

<table class="table table-dark table-striped" >
            <thead>
              <tr>
                  <th>Użytjownik</th>
                  <th>Książka</th>
                  <th>Autor</th>
                  <th>Data wypożyczenia</th>
                  <th>Planowana data zwrotu</th>
                  <th>Data zwrotu</th>
                  <th>Status</th>
                  <th>Action</th>

              </tr>
            </thead>
                {% for n in books %}
                <tr>
                    <td> {{ n.user_id }} </td>
                    <td> {{ n.book_id.title }} </td>
                    <td> {{ n.book_id.author }} </td>
                    <td> {{ n.check_out_date }} </td>
                    <td> {{ n.planned_date_of_return }} </td>
                    <td> {{ n.date_of_return }} </td>
                    <td> {{ n.status }} </td>
                    <td> <a href="{% url 'return_book' n.id %}"> Return </a> </td>
                </tr>
                {% endfor %}
        </table>

{% endblock %}

            </div>
</div>